absl-py==2.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
appnope
asttokens
async-timeout==5.0.1
attrs==25.3.0
Bottleneck
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
comm
contourpy==1.3.0
cppimport==22.8.2
cramjam==2.9.1
cycler==0.12.1
datasets==3.4.1
debugpy
decorator
dill==0.3.8
distro==1.9.0
docker-pycreds==0.4.0
eval_type_backport==0.2.2
exceptiongroup
executing
fastparquet==2024.11.0
filelock==3.18.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
grpcio==1.71.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.29.3
idna==3.10
implicit==0.7.2
importlib_metadata
importlib_resources==6.5.2
ipykernel
ipython
jedi
Jinja2==3.1.6
jiter==0.9.0
joblib
jupyter_client
jupyter_core
kiwisolver==1.4.7
lightfm==1.17
Mako==1.3.9
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline
multidict==6.2.0
multiprocess==0.70.16
nest_asyncio
numexpr
numpy==1.26.4
openai==1.68.2
packaging
pandas
parso
pexpect
pickleshare
pillow==11.1.0
platformdirs
prompt_toolkit
propcache==0.3.0
protobuf==5.29.4
psutil
ptyprocess
pure_eval
pyarrow==19.0.1
pybind11==2.13.6
pydantic==2.10.6
pydantic_core==2.27.2
Pygments
pyparsing==3.2.1
python-dateutil
pytz
PyYAML==6.0.2
pyzmq
requests==2.32.3
scikit-learn
scikit-surprise==1.1.4
scipy
sentry-sdk==2.24.1
setproctitle==1.3.5
six
smmap==5.0.2
sniffio==1.3.1
stack_data
streamlit==1.44.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl
torch==1.13.1
torch_geometric==2.2.0
torch_scatter==2.1.2
torch_sparse==0.6.18
tornado
tqdm==4.67.1
traitlets
typing_extensions
tzdata
urllib3==2.3.0
wandb==0.19.8
wcwidth
Werkzeug==3.1.3
xxhash==3.5.0
yarl==1.18.3
zipp
